@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.6;
    background-color: antiquewhite;
}

h1, h3 {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
}

h5 {
    font-style: italic;
}

section {
    margin: 100px;
}

footer {
    text-align: center;
    background-color: dimgrey;
    margin: 0;
    padding: 0;
}

footer p {
    margin: 0;
}
